.box {
  width: 150px;
  height: 150px;
  background-color: red;
  margin: auto;
  margin-top: 50px;

  animation-name: rotate;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
.box:hover {
  animation-play-state: paused;
  background-color: green;
}

/* animation props */

/* animation definition */
@keyframes rotate {
  0% {
    transform: translateX(00px) rotate(0deg);
  }

  100% {
    transform: translateX(200px) rotate(360deg);
  }
}
